@import '../styles/config.scss';

.buttonEdit {
  width: 40px;
  height: 40px;
  background: $backgroundButton;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);

  svg {
    fill: $backgroundSvg;
    width: 18px;
    height: 18px;
  }
}

.buttonEditActive {
  background-color: backgroundButtonHover;
}

.buttonEdit:hover {
  background: $backgroundButtonHover;
}

.modeEdit {
  background: $buttonFixedEditBackground;
  svg {
    fill: $buttonFixedEditSvg;
  }
}

.modeEdit:hover {
  background: $buttonFixedEditBackgroundHover !important;
}
